.navbar{
    top: 0; 
    width: 100%; 
    background-color: rgb(26, 26, 23);
    font-size: 2rem;
    min-height: 9vh;
    
}

.navbarContainer{
    display: flex;
    /* padding: 50px; */
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
}

.navbarContainer > ul{
    justify-content: right;
}

li{
    display: inline; 
    padding-right: 50px;
}

a {
    /* padding: 8px; */
    color: rgb(84, 192, 196);
    text-decoration: none;
}

a:hover {
    color: rgb(34, 34, 18);
}