.storeContainer{
    display: grid;

    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(200px,400px));
    
    justify-items: center;
    justify-content: center;
}

/* tbh i'll have to change it to grid, since it's not scalable atm it seems */
.storeContainer > div{
    width: 100%;
    height: 100%;
    border: 2px solid rgb(230, 8, 8);

    color: black;
    background-color: beige;

}

.product{

}


img{
    width: 80%;
    height: 80%;
    object-fit: scale-down;
}