/* Get some good fonts there later */

body{
    background-color: rgb(53, 54, 52);
    color: rgb(202, 198, 189);
    margin: 0;
    padding: 0;
}

.contentContainer{
    color: rgb(123, 156, 86);
    padding: 2rem;
    font-size: 2rem;
}



